aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==4.0.3
attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.4
et_xmlfile==2.0.0
frozenlist==1.8.0
idna==3.11
magic-filter==1.0.12
multidict==6.7.1
openpyxl==3.1.5
propcache==0.4.1
pydantic==1.10.26
pydantic_core==2.41.5
pyTelegramBotAPI
pydantic_core==2.41.5
pyTelegramBotAPI
flask